/*****************************/

.btnExtraTopPag {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 75%;
    height: 50px;
    visibility: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.397);
}

.maisOpcoes {
    top: 80px;
    left: 30%;
    width: 60%;
    height: 120px;
    /* background-color: chartreuse; */
    position: absolute;
    text-align: left;
}

.reloadAlbum {
    position: absolute;
    width: 33%;
    height: 100%;
    left: 0px;
    top: 0px;
    /*background-color:rgba(58, 58, 59, 0.4);
    border-radius: 2px;*/
    text-align: center;
    /*padding-right: 10px;
    padding-top: 4px;*/
    font-size: 20px;
}

.reloadAlbum div {
    /*background-color:yellow;*/
    position: absolute;
    height: 60%;
    top: 23%;
    width: 80%;
    text-align: left;
    float: right;
    right: 0px;
}

.reloadAlbum:hover {
    cursor: pointer;
    background-color: rgba(58, 58, 59, 0.692);
}

.reloadAlbum img {
    position: absolute;
    left: 10px;
    top: 30%;
    height: 40%;
    width: auto;
}

.criarAlbum {
    top: 10px;
    left: 10%;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #323438;
}

.favoritos {
    top: 10px;
    left: 25%;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #323438;
}

.maisVisualizados {
    top: 10px;
    left: 40%;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #323438;
}

.horizontalLine {
    background: rgba(35, 115, 193, 1);
    box-shadow: 0 0 10px #363636;
    width: 100%;
    height: 2px;
    top: 25px;
    border-radius: 5px;
    position: relative;
}

/*****************************/
.Albuns {
    position: absolute;
    /* background-color: black; */
    width: 70%;
    top: 250px;
    height: 450px;
    left: 25%;
    display: inline;
    text-align: left;
}

.AlbunsConjunto {
    position: relative;
    top: 20px;
    left: 20px;
    background-color: #323438;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: x-large;
}

.AlbunsConjunto img {
    width: 175px;
    height: 175px;
}

/*****************************/

.zonaAlbum {
    position: absolute;
    width: 100%;
    height: 70%;
    float: left;
    left: 0%;
    top: 30%;
    /*background-color: #81f100;*/
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
}

.zonaAlbum::-webkit-scrollbar {
    display: none;
}

.posicaoAlbum {
    position: absolute;
    width: 90%;
    left: 5%;
    height: 30px;
    /*background-color: blue;*/
    text-align: left;
}

.zonaAlbum li {
    position: relative;
    display: inline-block;
    width: 18%;
    height: 150px;
    /*background-color: pink;*/
    margin-left: 4%;
    margin-right: 2%;
    margin-bottom: 80px;
    overflow: hidden;
    cursor: pointer;
}

.album img:hover {
    transform: scale(1.1);
}

.album {
    position: absolute;
    height: 110px;
    width: 94%;
    left: 0%;
    top: 0px;
    border-radius: 4px;
    border: 5px solid teal;
    /*background-color: yellow;*/
    overflow: hidden;
    text-align: center;
}

.album img {
    position: relative;
    height: 110px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
}

.albumTitle {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 25px;
    left: 0px;
    text-align: center;
    font-size: large;
}

/***************************/
/***************************/

/*.criarAlbumPopUp {
    position: absolute;
    background-color: #1f2024f6;
    width: 70%;
    height: 350px;
    top: 30%;
    left: 15%;
    visibility: hidden;
}

.criarAlbumPopUp button{
    top: 220px;
    width: 30%;
    height: 50%;
    background-color: pink;
}*/

/***************************/
/***************************/

.fundoCriarAlbum {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 8;
    visibility: hidden;
}

.fundoCriarAlbum img {
    position: absolute;
    width: 25px;
    height: auto;
    top: 30px;
    float: right;
    right: 30px;
    opacity: 0.9;
    cursor: pointer;
}

.fundoCriarAlbum img:hover {
    transform: scale(1.1)
}

/*------------- 1ª Divisão --------------*/

.menuCriarAlbum {
    visibility: hidden;
    position: absolute;
    width: 70%;
    height: 480px;
    left: 15%;
    top: 95px;
    background-color: #1f2024f6;
    border-radius: 3px;
    z-index: 10;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 200%;
    height: 480px;
    left: 0%;
    top: 0%;
    background-color: #1f2024f6;
    transition: 0.4s;
}

.slideEsq {
    position: absolute;
    width: 50%;
    height: 480px;
    left: 0%;
    top: 0px;
    /*background-color: #0030f1f6;*/
}

.avisoProximo {
    visibility: hidden;
    position: absolute;
    color: rgba(255, 0, 0, 0.9);
    text-align: left;
    width: 80%;
    left: 10%;
    top: 120px;
    font-size: x-large;
}

.tituloCriarAlbum {
    position: absolute;
    width: 50%;
    left: 25%;
    height: 40px;
    top: 10px;
    /*background-color: #0404a8;*/
    color: white;
    font-size: 40px;
    text-align: center;
}

.fraseCriarAlbum {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 50px;
    top: 80px;
    /*background-color: #0404a8;*/
    font-size: 25px;
    text-align: left;
    color: teal;
    text-decoration: underline;
}

.zonaEscolha {
    position: absolute;
    width: 80%;
    left: 15%;
    height: 250px;
    top: 150px;
    /*background-color: #0404a8;*/
    font-size: 25px;
    text-align: left;
    color: teal;
}

/*----- Checked box --------*/

.checkboxAlbum {
    display: block;
    position: relative;
    margin-bottom: 60px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 50px;
}

/* Esconde o input normal do browser*/
.checkboxAlbum input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Cria checkbox costumizado*/
.checkmark {
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: #eee;
}

.checkboxAlbum:hover input~.checkmark {
    background-color: #ccc;
}

.teste {
    visibility: visible;
}

.checkboxAlbum input:checked~.teste {
    visibility: hidden;
}

.checkboxAlbum input:checked~.checkmark {
    background-color: teal;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.checkboxAlbum input:checked~.checkmark:after {
    display: block;
}

.checkboxAlbum .checkmark:after {
    left: 6.5px;
    top: 2.5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*---------------------------*/

.rodaIcons {
    position: absolute;
    width: 45%;
    float: right;
    right: 10%;
    height: 200px;
    top: 0px;
    /*background-color: #0459a8;*/
}

.rodaIcons img {
    position: absolute;
    width: 80%;
    left: 10%;
    height: auto;
    top: 0px;
    opacity: .8;
}

.btnAnterior {
    position: absolute;
    width: 15%;
    left: 5%;
    height: 30px;
    bottom: 10px;
    background-color: #464649;
    font-size: x-large;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: diamante;
    cursor: pointer;
}

.btnAnterior:hover {
    background-color: #464649e1;
}

.btnProximo {
    position: absolute;
    width: 15%;
    float: right;
    right: 5%;
    height: 30px;
    bottom: 10px;
    background-color: #464649;
    font-size: x-large;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: diamante;
    cursor: pointer;
}

.btnProximo:hover {
    background-color: #464649e1;
}


#bt2 {
    visibility: hidden;
}

.barraProgresso {
    position: absolute;
    width: 15%;
    left: 42.5%;
    height: 4px;
    bottom: 10px;
}

.progEsq {
    position: absolute;
    width: 48%;
    height: 100%;
    left: 0%;
    top: 0px;
    border-radius: 2px;
    background-color: #464649da;
}

.progDir {
    position: absolute;
    width: 48%;
    height: 100%;
    float: right;
    right: 0%;
    top: 0px;
    border-radius: 2px;
    background-color: #4646497c;
}

/*------------- 2ª Divisão --------------*/

.slideDir {
    position: absolute;
    width: 50%;
    height: 480px;
    left: 50%;
    top: 0px;
    /*background-color: #00f134f6;*/
}

.capaAlbum {
    background-color: #464649;
    position: absolute;
    width: 170px;
    height: 170px;
    left: 5px;
    top: 5px;
    overflow: hidden;
    border: 3px solid teal;
    border-radius: 4px;
}

.escolherFoto {
    background-color: teal;
    position: absolute;
    width: 160px;
    left: 10px;
    height: 20px;
    top: 190;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: diamante;
}

.zonaCapaAlbum {
    position: absolute;
    width: 150%;
    height: 100%;
    left: -25%;
    top: 0px;
    text-align: center;
}

.zonaCapaAlbum img {
    position: relative;
    height: 100%;
    width: auto;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.nomeAlbum {
    /*background-color:rgb(0, 216, 162);*/
    position: absolute;
    width: 25%;
    height: 30px;
    left: 200px;
    top: 5px;
}

.nomeAlbum input {
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 128, 128, 0.7);
    border: 2px solid teal;
    border-radius: 4px;
    color: white;
    font-family: diamante;
    font-size: x-large;
    text-align: center;
}

.nomeAlbum input::placeholder {
    color: white;
    text-align: center;
    font-family: diamante;
    font-size: x-large;
}

.descricaoAlbum {
    /*background-color:rgb(216, 86, 0);*/
    position: absolute;
    width: 50%;
    height: 40px;
    left: 200px;
    top: 55px;
}

.descricaoAlbum input {
    resize: none;
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 128, 128, 0.7);
    border: 2px solid teal;
    border-radius: 4px;
    font-family: diamante;
    color: white;
}

.descricaoAlbum input::placeholder {
    color: white;
    position: absolute;
    left: 5px;
    top: 5px;
    text-align: left;
    font-family: diamante;
}

.zonaSelecaoFotosFundo {
    visibility: hidden;
    position: absolute;
    width: 142.5%;
    height: 145%;
    top: -20%;
    left: -21.5%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9;
}

.zonaSelecaoFotosFundo img {
    position: absolute;
    width: 25px;
    height: auto;
    top: 30px;
    float: right;
    right: 30px;
    opacity: 0.9;
    cursor: pointer;
}

.zonaSelecaoFotosFundo img:hover {
    transform: scale(1.1)
}

.zonaSelecaoFotosFundo1 {
    visibility: hidden;
    position: absolute;
    width: 142.5%;
    height: 145%;
    top: -20%;
    left: -21.5%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.zonaSelecaoFotos {
    visibility: hidden;
    position: absolute;
    width: 70%;
    left: 15%;
    height: 70%;
    top: 15%;
    background-color: #2f2f31;
    border: 2px solid teal;
    border-radius: 4px;
    z-index: 2;
}

.defaultSemFotos {
    visibility: hidden;
    position: absolute;
    width: 80%;
    left: 10%;
    height: 30px;
    top: 48%;
    color: rgba(255, 255, 255, 0.8);
    font-size: x-large;
}

.textoFotoCapa {
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: 0px;
    height: 35px;
    text-align: center;
    font-size: x-large;
}

.zonaDasFotosTotal {
    position: absolute;
    width: 90%;
    left: 5%;
    height: 85%;
    top: 10px;
    /*background-color: rgb(0, 247, 255);*/
    border-bottom: 1px solid #5454589a;
    overflow-x: hidden;
    overflow-y: auto;
}

/*---------- Srcoll Bar ----------*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* parte de tras */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* barra */
::-webkit-scrollbar-thumb {
    background: rgba(0, 128, 128, 0.85);
    border-radius: 5px;
}

/* barra em movimento */
::-webkit-scrollbar-thumb:hover {
    background: teal;
    border-radius: 5px;
}

/*--------------------*/

.zonaDasFotos {
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0px;
    top: 0px;
    text-align: left;
    /*background-color: yellow;*/
}

.zonaDasFotos li {
    display: inline-block;
    position: relative;
    width: 18.3%;
    height: 80px;
    margin-left: 1%;
    margin-bottom: 3%;
    top: 0px;
    /*background-color:black;*/
    list-style: none;
    overflow: hidden;
}

.sitioFoto {
    position: absolute;
    width: 150%;
    height: 100%;
    left: -25%;
    top: 0px;
    text-align: center;
    /*background-color: blue;*/
    border: none;
}

.sitioFoto img {
    position: relative;
    height: 100%;
    width: auto;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.sitioFoto img:hover {
    transform: scale(1.1);
}


/*---------------------------------------*/
#inputData {
    visibility: hidden;
    position: absolute;
    width: 100px;
    left: 140px;
    height: 25px;
    top: 30px;
    border: 2px solid teal;
    border-radius: 4px;
    background-color: rgba(0, 128, 128, 0.5);
    z-index: 15;
    color: white;
    font-family: diamante;
}

/* #inputData::placeholder{
    color: white;
    font-family: diamante;
} */

#inputLocal {
    visibility: hidden;
    position: absolute;
    width: 100px;
    left: 140px;
    height: 25px;
    top: 115px;
    border: 2px solid teal;
    border-radius: 4px;
    background-color: rgba(0, 128, 128, 0.5);
    z-index: 15;
    color: white;
    font-family: diamante;
}

/* #inputLocal::placeholder{
    color: white;
    font-family: diamante;
} */

#inputPessoa {
    visibility: hidden;
    position: absolute;
    width: 100px;
    left: 140px;
    height: 25px;
    top: 205px;
    border: 2px solid teal;
    border-radius: 4px;
    background-color: rgba(0, 128, 128, 0.5);
    z-index: 15;
    color: white;
    font-family: diamante;
}

/* #inputPessoa::placeholder{
    color: white;
    font-family: diamante;
} */

/*----------------------------*/

.posicaoFotosAlbunsAbertosGeral {
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 30%;
    height: 70%;
    left: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
}

.posicaoFotosAlbunsAbertos {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 40px;
    text-align: left;
}

.posicaoFotosAlbunsAbertos li {
    display: inline-block;
    position: relative;
    width: 18%;
    margin-left: 1.5%;
    margin-bottom: 30px;
    height: 180px;
    overflow: hidden;
    background-color: rgba(0, 128, 128, 0.2);
    color: rgba(255, 255, 255, 0);
    box-shadow: 2px 2px 2px teal;
    cursor: pointer;
}

.img {
    position: absolute;
    width: 150%;
    left: -25%;
    height: 100%;
    top: 0px;
    text-align: center;
    z-index: 15;
}

.img img {
    position: relative;
    height: 100%;
    width: auto;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.img img:hover {
    transform: scale(1.1)
}

/* ****************************************** */

.ordenarPorFotoAlbum {
    position: absolute;
    width: 34%;
    height: 100%;
    top: 0px;
    float: right;
    right: 0%;
    font-size: 20px;
    text-align: center;
}

.ordenarPorFotoAlbum div {
    position: absolute;
    height: 60%;
    top: 23%;
    width: 50%;
    text-align: right;
    left: 0%;
}

#ordenacaoFotoAlbum {
    position: absolute;
    width: 35%;
    float: right;
    right: 10%;
    height: 50%;
    top: 25%;
    border: 2px solid teal;
    border-radius: 4px;
    background-color: rgba(0, 128, 128, 0.5);
    z-index: 15;
    color: white;
    font-family: diamante;
}

.ordenarPorFotoAlbum:hover {
    cursor: pointer;
    background-color: rgba(58, 58, 59, 0.692);
}

/* ****************************************** */

.btnPopUpMudarNome {
    position: absolute;
    width: 33%;
    height: 100%;
    top: 0px;
    left: 33%;
    /*background-color: rgba(80, 80, 80, 0.9);*/
    /*border-radius: 4px;*/
    /*z-index: inherit;*/
    font-size: 20px;
    text-align: center;
}

.btnPopUpMudarNome div {
    position: absolute;
    height: 60%;
    top: 23%;
    width: 80%;
    text-align: center;
    left: 10%;
}

.btnPopUpMudarNome:hover {
    cursor: pointer;
    background-color: rgba(58, 58, 59, 0.692);
}

.popUpMudarNomeFundo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 17;
    visibility: hidden;
}

.popUpMudarNomeFundo img {
    position: absolute;
    width: 25px;
    height: auto;
    top: 30px;
    float: right;
    right: 30px;
    opacity: 0.9;
    cursor: pointer;
}

.popUpMudarNomeFundo img:hover {
    transform: scale(1.1)
}

.popUpMudarNome {
    background-color: #1f2024f6;
    visibility: hidden;
    position: absolute;
    width: 70%;
    height: 480px;
    left: 15%;
    top: 95px;
    background-color: #1f2024f6;
    border-radius: 3px;
    z-index: 18;
    overflow: hidden;
}

.titleMudarNome {
    position: absolute;
    width: 90%;
    height: 60px;
    top: 15px;
    font-size: 45px;
    font-family: diamante;
    text-align: center;
    left: 5%;
}

.popUpMudarNome input {
    position: absolute;
    width: 50%;
    height: 50px;
    background-color: rgba(0, 128, 128, 0.4);
    bottom: 230px;
    left: 25%;
    font-size: x-large;
    border-radius: 1px;
    border: 2px solid teal;
    color: white;
    font-family: diamante;
    text-align: center;
}

.popUpMudarNome input:hover {
    width: 60%;
    left: 20%;
    background-color: rgba(0, 128, 128, 0.6);
}

.popUpMudarNome input::placeholder {
    color: white;
    font: x-large diamante;
    text-align: center;
}

.finalizarMudarNome {
    position: absolute;
    width: 30%;
    height: 45px;
    background-color: rgba(0, 128, 128, 0.6);
    bottom: 30px;
    left: 35%;
    font-size: x-large;
    border-radius: 1px;
    border: none;
    color: white;
    font-family: diamante;
    cursor: pointer;
}