.boxMudarPass {
    position: absolute;
    top: 8%;
    left: 5%;
    background-color: #1f2024;
    width: 25%;
    height: 84%;
}

.boxMudarEmail {
    position: absolute;
    top: 45.5%;
    left: 37.5%;
    background-color: #1f2024;
    width: 25%;
    height: 46.5%;
}

.boxMudarUtilizador {
    position: absolute;
    top: 45.5%;
    float: right;
    right: 5%;
    background-color: #1f2024;
    width: 25%;
    height: 46.5%;
}

/*----------------------------------------*/

.boxMudarImagem {
    position: absolute;
    top: 8%;
    float: right;
    right: 5%;
    background-color: #1f2024;
    width: 57.5%;
    height: 30%;
    text-align: left;
}

.posiImagemPerfil_Def {
    background-color: teal;
    position: absolute;
    height: 180px;
    width: 180px;
    top: 7px;
    float: right;
    right: 40px;
    border-radius: 150px;
    border: 5px solid white;
    overflow: hidden;
}

.zonaPerfilImg {
    position: absolute;
    width: 130%;
    left: -15%;
    top: 0px;
    height: 100%;
    text-align: center;
}

.zonaPerfilImg img {
    position: relative;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.boxTitlesEDescricao {
    position: absolute;
    height: 90%;
    width: 35%;
    top: 5%;
    left: 3%;
}

.boxTitlesEDescricao h1 {
    position: absolute;
    top: -15px;
    left: 5px;
    font-size: 30px;
}

.boxTitlesEDescricao p {
    position: absolute;
    top: 35px;
    left: 5px;
    font-size: 20px;
}

#btnAlterarPerfil {
    position: absolute;
    width: 50%;
    height: 45px;
    background-color: rgba(0, 128, 128, 0.6);
    bottom: 15px;
    left: 5px;
    font-size: x-large;
    border-radius: 1px;
    border: none;
    color: white;
    font-family: diamante;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
}

#btnAlterarPerfil:hover {
    background-color: rgba(0, 128, 128, 0.74);
}


.fundoAlterarFotoPerfil {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 8;
    visibility: hidden;
}

.fundoAlterarFotoPerfil img {
    position: absolute;
    width: 25px;
    height: auto;
    top: 30px;
    float: right;
    right: 30px;
    opacity: 0.9;
    cursor: pointer;
}

.fundoAlterarFotoPerfil img:hover {
    transform: scale(1.1)
}

.alterarFotoPerfil {
    visibility: hidden;
    position: absolute;
    width: 70%;
    height: 480px;
    left: 15%;
    top: 95px;
    background-color: #1f2024f6;
    border-radius: 3px;
    z-index: 10;
    overflow: hidden;
}

.titleFotoPerfil {
    position: absolute;
    width: 90%;
    height: 50px;
    left: 5%;
    top: 5px;
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.separadorFotoPerfil {
    position: absolute;
    width: 70%;
    height: 35px;
    left: 15%;
    top: 65px;
    text-align: center;
    font-size: 30px;
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.6);*/
}

.fotosPredefinidas {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0px;
    left: 0%;
    text-align: center;
    font-size: 25px;
}

.fotosPredefinidas:hover {
    background-color: rgba(58, 58, 59, 0.692);
    cursor: pointer;
}

.fotosSuasFotos {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0px;
    float: right;
    right: 0%;
    text-align: center;
    font-size: 25px;
}

.fotosSuasFotos:hover {
    background-color: rgba(58, 58, 59, 0.692);
    cursor: pointer;
}




.fotosPredefinidasDrop {
    /*background-color: red;*/
    visibility: hidden;
    position: absolute;
    width: 80%;
    top: 30%;
    height: 65%;
    left: 10%;
    overflow: auto;
}

.zonaFotosPred {
    /*background-color: blue;*/
    width: 100%;
    left: 0px;
    top: 5px;
    height: 50px;
    text-align: left;
}

.zonaFotosPred li {
    display: inline-block;
    position: relative;
    width: 17.5%;
    height: 125px;
    margin-left: 1%;
    margin-bottom: 30px;
    background-color: teal;
    border-radius: 100px;
    border: 4px solid white;
    overflow: hidden;
    cursor: pointer;
    color: rgba(255, 255, 255, 0);
}

.fotosPredPlace {
    position: absolute;
    width: 130%;
    left: -15%;
    top: 0px;
    height: 100%;
    text-align: center;
}

.fotosPredPlace img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
    top: 0px;
}

.fotosPredPlace img:hover {
    transform: scale(1.1);
}




.fotosSuasFotosDrop {
    /*background-color: yellow;*/
    visibility: hidden;
    position: absolute;
    width: 80%;
    top: 30%;
    height: 65%;
    left: 10%;
    overflow: auto;
}

.zonaFotosSuas {
    /*background-color: pink;*/
    width: 100%;
    left: 0px;
    top: 5px;
    height: 50px;
    text-align: left;
}


.zonaFotosSuas li {
    display: inline-block;
    position: relative;
    width: 17.5%;
    height: 125px;
    margin-left: 1%;
    margin-bottom: 30px;
    background-color: teal;
    border-radius: 100px;
    border: 4px solid white;
    overflow: hidden;
    cursor: pointer;
    color: rgba(255, 255, 255, 0);
}

.fotosSuasPlace {
    position: absolute;
    width: 130%;
    left: -15%;
    top: 0px;
    height: 100%;
    text-align: center;
}

.fotosSuasPlace img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
    top: 0px;
}

.fotosSuasPlace img:hover {
    transform: scale(1.1);
}

/*----------------------------------------*/


input {
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid;
    border-color: white;
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 24px;
    transition: 0.05s;
    outline: none;
    background: none;
}

button[type="submit"] {
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid white;
    width: 125px;
    height: 35px;
    color: white;
    border-radius: 24px;
    transition: 0.05s;
    cursor: pointer;
    text-align: center;
}

button[type="submit"]:hover {
    width: 160px;
    border-color: #2ecc71;
    background: #2ecc71;
    color: aliceblue;
}