.posicaoFotosLixoGeral {
    visibility: visible;
    position: absolute;
    width: 100%;
    top: 30%;
    height: 70%;
    left: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 5;
}

.posicaoFotosLixo {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 40px;
    text-align: left;
}

.posicaoFotosLixo li {
    display: inline-block;
    position: relative;
    width: 18%;
    margin-left: 1.5%;
    margin-bottom: 30px;
    height: 180px;
    cursor: pointer;
}

.foto {
    background-color: rgba(0, 128, 128, 0.2);
    color: rgba(255, 255, 255, 0);
    box-shadow: 2px 2px 2px teal;
    overflow: hidden;
}

.album {
    height: 150px;
    width: 100%;
    color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    border: 5px solid teal;
    overflow: hidden;
}

.albumTitle {
    background-color: teal;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 25px;
    left: 0px;
    text-align: center;
    font-size: x-large;
    color: white;
    z-index: 17;
}

.albumDoLixo {
    position: absolute;
    width: 100%;
    left: 0%;
    height: 100%;
    top: 0px;
    text-align: center;
    z-index: 15;
}

.albumDoLixo img {
    position: relative;
    height: 100%;
    width: auto;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.img {
    position: absolute;
    width: 150%;
    left: -25%;
    height: 100%;
    top: 0px;
    text-align: center;
    z-index: 15;
}

.img img {
    position: relative;
    height: 100%;
    width: auto;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.img img:hover {
    transform: scale(1.1)
}

/*-----------------------------------*/

.popUpItensFundo {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    visibility: hidden;
}

.popUpItensFundo img {
    position: absolute;
    width: 25px;
    height: auto;
    top: 30px;
    float: right;
    right: 30px;
    opacity: 0.9;
    cursor: pointer;
}

.popUpItensFundo img:hover {
    transform: scale(1.1)
}

.popUpItens {
    background-color: #1f2024f6;
    visibility: hidden;
    position: absolute;
    width: 70%;
    height: 480px;
    left: 15%;
    top: 95px;
    background-color: #1f2024f6;
    border-radius: 3px;
    z-index: 10;
    overflow: hidden;
}

.contemItensPara {
    position: absolute;
    width: 80%;
    height: 75%;
    left: 10%;
    top: 25px;
    overflow-x: hidden;
    overflow-y: auto;
}

.zonaItensPara {
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0%;
    top: 20px;
    text-align: left;
}

.zonaItensPara li {
    position: relative;
    display: inline-block;
    width: 17%;
    height: 100px;
    margin-left: 1%;
    margin-bottom: 25px;
    background-color: white;
    overflow: hidden;
    cursor: pointer;
    border-radius: 4px;
    /*border: 5px solid teal;*/
    border: none;
}


.imagemItens {
    position: absolute;
    width: 130%;
    left: -15%;
    top: 0px;
    height: 100%;
    text-align: center;
}

.itemAlbum {
    border: 3px solid teal;
}

.titleItem {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white;
    background-color: teal;
    width: 100%;
    height: 25px;
    font-size: 20px;
    text-align: center;
}

.imagemItens img {
    position: relative;
    height: 100%;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

.imagemItens img:hover {
    transform: scale(1.1);
}

.zonaBtnsItens {
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 10px;
    height: 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}


.btnRestaurarItens {
    position: absolute;
    width: 20%;
    left: 25%;
    height: 80%;
    bottom: 10%;
    background-color: rgba(58, 58, 59, 0.9);
    border-radius: 3px;
}

.btnRestaurarItens:hover {
    cursor: pointer;
    background-color: rgba(58, 58, 59, 1);
}

.btnRestaurarItens img {
    position: absolute;
    width: 22%;
    height: auto;
    left: 39%;
    top: 10px;
}


.btnLixoItens {
    position: absolute;
    width: 20%;
    float: right;
    right: 25%;
    height: 80%;
    bottom: 10%;
    background-color: rgba(58, 58, 59, 0.9);
    border-radius: 3px;
}

.btnLixoItens:hover {
    cursor: pointer;
    background-color: rgba(58, 58, 59, 1);
}

.btnLixoItens img {
    position: absolute;
    width: 22%;
    height: auto;
    left: 39%;
    top: 10px;
}

.titlePopUpItens {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 50px;
    top: 5px;
    /*background-color: #0404a8;*/
    font-size: 25px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}