.fotoMais{
    width: 50%;
    height: auto;
    top: 125px;
    left: 10%;
    position: relative;
    border: 7px solid rgb(0, 0, 0);
}

.fotoMaisVistaMini{
    width: 15%;
    height: auto;
    top: 530px;
    left: 33%;
    position: absolute;
    border: 5px solid rgb(151, 158, 255);
}

.fotoMaisVista2{
    width: 7.5%;
    height: auto;
    top: 530px;
    left: 50%;
    position: absolute;
}

.fotoMaisVista3{
    width: 7.5%;
    height: auto;
    top: 530px;
    left: 60%;
    position: absolute;
}

.fotoMaisVista4{
    width: 7.5%;
    height: auto;
    top: 530px;
    left: 70%;
    position: absolute;
}

.fotoMaisVista5{
    width: 7.5%;
    height: auto;
    top: 530px;
    left: 80%;
    position: absolute;
}

.setaTras{
    width: 5%;
    height: auto;
    top: 290px;
    left: 25%;
    position: absolute;
}

.setaFrente{
    width: 5%;
    height: auto;
    top: 290px;
    left: 90%;
    position: absolute;
    transform: scaleX(-1);
}

/*-----------------------------*/
/*-----------------------------*/

.maisVistaPag{
    position: absolute;
    width: calc(100% - var(--sidebar-mini-width));
    height: 73%;
    top: 27%;
    left: var(--sidebar-mini-width);
    /* Margem simétrica das setas do carrossel (esq vs dir) */
    --mv-seta-margem: 24px;
    overflow-y: auto;
    overflow-x: hidden;
    /*background-color: darkmagenta;*/
    transition: left 0.4s cubic-bezier(0.4, 0, 0.2, 1), width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

body.sidebar-open .maisVistaPag {
    left: var(--sidebar-full-width);
    width: calc(100% - var(--sidebar-full-width));
}

.top10{
    position: absolute;
    width: 500px;
    height: 40px;
    top:40px;
    left: 2%;
    text-align: left;
    font-size: 35px;
}

.outrasFotos{
    position: absolute;
    width: 500px;
    height: 40px;
    top:300px;
    left: 2%;
    text-align: left;
    font-size: 35px;
}

.colecao-window {
    position: absolute;
    /* Dar um pouco mais de "respiro" do lado direito */
    width: auto;
    height: 150px;
    left: 70px;
    right: 110px;
    top: 90px;
    overflow: hidden;
    z-index: 5;
}

.colecao{
    position: absolute;
    width: 200%;
    height: 130px;
    left: 2%;
    top: 10px;
    transition: left 2s ease;
}

.colecao li{
    position: relative;
    height: 100%;
    width: 8%;
    /*background-color: teal;*/
    margin-left: 0.7%;
    margin-right: 0.7%;
    list-style: none;
    display: inline-block;
    color: transparent;
}

.number{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0px;
    top: 0px;
    /*background-color: chartreuse;*/
    overflow: visible;
    z-index: 2;
    pointer-events: none;
}

.number img{
    position: absolute;
    height: 100%;
    width: auto;
    left: -10px;
    top:0px;
    opacity: 0.8;
}

.imgMV{
    position: absolute;
    width: 60%;
    height: 100%;
    left: 15%;
    top: 0px;
    background-color: rgb(44, 44, 44);
    overflow: hidden;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1;
}

.imgMV:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 128, 128, 0.4);
}

.imgCentrar{
    position: absolute;
    width: 150%;
    left: -25%;
    top:0px;
    height: 100%;
}

.imgCentrar img{
    position: relative;
    height: 100%;
    width: auto;
    top: 0px;
    margin-right: auto;
    margin-left: auto;
    transition: transform 0.3s ease;
}

.imgMV:hover .imgCentrar img {
    transform: scale(1.1);
}

.img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.btnTopEsq{
    position: absolute;
    width:60px;
    height: 130px;
    /* Distância ao lado direito da aba lateral (quando fechada) */
    left: var(--mv-seta-margem);
    top:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.btnTopEsq a{
    position: relative;
    display: block;
}

.btnTopEsq a img{
    width: 30px;
    height: 30px;
    padding: 12px;
    background: rgba(45, 48, 50, 0.95);
    border-radius: 50%;
    opacity: 0.9;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.btnTopEsq a img:hover{
    transform: scale(1.1);
    cursor: pointer;
    opacity: 1;
    background: rgba(70, 73, 75, 1);
    box-shadow: 0 6px 20px rgba(0, 128, 128, 0.3);
}

.btnTopDir{
    position: absolute;
    width:60px;
    height: 130px;
    float: right;
    /* Distância à borda direita do ecrã igual à margem da seta esquerda */
    right: var(--mv-seta-margem);
    top:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.btnTopDir a{
    position: relative;
    display: block;
}

.btnTopDir a img{
    width: 30px;
    height: 30px;
    padding: 12px;
    background: rgba(45, 48, 50, 0.95);
    border-radius: 50%;
    opacity: 0.9;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.btnTopDir a img:hover{
    transform: scale(1.1);
    cursor: pointer;
    opacity: 1;
    background: rgba(70, 73, 75, 1);
    box-shadow: 0 6px 20px rgba(0, 128, 128, 0.3);
}

/********************************/

.posicaoFotosCurtidas{
    position: absolute;
    width: 90%;
    left: 5%;
    height: 40px;
    top:380px;
    text-align: left;
}

.posicaoFotosCurtidas li{
    position: relative;
    display: inline-block;
    width: 18%;
    margin-left:1.5%;
    margin-bottom: 40px;
    height: 140px;
    overflow: hidden;
    color: transparent;
}

.img{
    position: absolute;
    width: 150%;
    height: 100%;
    left: -25%;
    top: 0px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.img img{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top:0px;
    height: 100%;
    transition: transform 0.3s ease;
}

.img:hover img {
    transform: scale(1.1);
}

@media screen and (orientation: portrait) {
    .maisVistaPag {
        top: 10% !important;
        /* Em portrait, não empurrar pela sidebar: ocupar o ecrã todo */
        left: 0 !important;
        width: 100% !important;
        height: 81% !important;
    }

    .posicaoFotosCurtidas li {
        width: 45% !important;
        margin-left: 3% !important;
        margin-right: 2% !important;
        height: 180px !important;
    }
}
/********************************/

