.fotoMais{
    width: 50%;
    height: auto;
    top: 125px;
    left: 10%;
    position: relative;
    border: 7px solid rgb(0, 0, 0);
}

.fotoMaisVistaMini{
    width: 15%;
    height: auto;
    top: 530px;
    left: 33%;
    position: absolute;
    border: 5px solid rgb(151, 158, 255);
}

.fotoMaisVista2{
    width: 7.5%;
    height: auto;
    top: 530px;
    left: 50%;
    position: absolute;
}

.fotoMaisVista3{
    width: 7.5%;
    height: auto;
    top: 530px;
    left: 60%;
    position: absolute;
}

.fotoMaisVista4{
    width: 7.5%;
    height: auto;
    top: 530px;
    left: 70%;
    position: absolute;
}

.fotoMaisVista5{
    width: 7.5%;
    height: auto;
    top: 530px;
    left: 80%;
    position: absolute;
}

.setaTras{
    width: 5%;
    height: auto;
    top: 290px;
    left: 25%;
    position: absolute;
}

.setaFrente{
    width: 5%;
    height: auto;
    top: 290px;
    left: 90%;
    position: absolute;
    transform: scaleX(-1);
}

/*-----------------------------*/
/*-----------------------------*/

.maisVistaPag{
    position: absolute;
    width: 100%;
    height: 73%;
    top: 27%;
    left: 0%;
    overflow-y: auto;
    overflow-x: hidden;
    /*background-color: darkmagenta;*/
}

.top10{
    position: absolute;
    width: 500px;
    height: 40px;
    top:40px;
    left: 2%;
    text-align: left;
    font-size: 35px;
}

.outrasFotos{
    position: absolute;
    width: 500px;
    height: 40px;
    top:300px;
    left: 2%;
    text-align: left;
    font-size: 35px;
}

.colecao{
    position: absolute;
    width: 180%;
    height: 130px;
    left: 2%;
    top: 100px;
    transition: 2s;
}

.colecao li{
    position: relative;
    height: 100%;
    width: 8%;
    /*background-color: teal;*/
    margin-left: 0.7%;
    margin-right: 0.7%;
    list-style: none;
    display: inline-block;
}

.number{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0px;
    top: 0px;
    /*background-color: chartreuse;*/
    overflow: hidden;
}

.number img{
    position: absolute;
    height: 100%;
    width: auto;
    left: -5px;
    top:0px;
}

.imgMV{
    position: absolute;
    width: 60%;
    height: 100%;
    float: right;
    right: 0px;
    top: 0px;
    background-color: rgb(44, 44, 44);
    overflow: hidden;
    text-align: center;
    border-radius: 3px;
}

.imgCentrar{
    position: absolute;
    width: 150%;
    left: -25%;
    top:0px;
    height: 100%;
}

.imgCentrar img{
    position: relative;
    height: 100%;
    width: auto;
    top: 0px;
    margin-right: auto;
    margin-left: auto;
}

.img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.btnTopEsq{
    position: absolute;
    width:8%;
    height: 130px;
    left: 0px;
    top:100px;
    
    background-image: linear-gradient(to right, #0f0f11, #0f0f11cb, #0f0f1100);
}

.btnTopEsq a{
    position: absolute;
    left: 0px;
    top:0px;
}

.btnTopEsq a img{
    position: absolute;
    width: 30px;
    height: 30px;
    top:50px;
    left: 20px;
    opacity: .5;
}

.btnTopEsq a img:hover{
    transform: scale(1.1);
    cursor: pointer;
    opacity: 1;
}

.btnTopDir{
    position: absolute;
    width:8%;
    height: 130px;
    float: right;
    right: 0px;
    top:100px;
    background-image: linear-gradient(to left, #0f0f11, #0f0f11cb, #0f0f1100);
}

.btnTopDir a{
    position: absolute;
    left: 0px;
    top:0px;
}

.btnTopDir a img{
    position: absolute;
    width: 30px;
    height: 30px;
    top:50px;
    left: 20px;
    opacity: .5;
}

.btnTopDir a img:hover{
    transform: scale(1.1);
    cursor: pointer;
    opacity: 1;
}

/********************************/

.posicaoFotosCurtidas{
    position: absolute;
    width: 90%;
    left: 5%;
    height: 40px;
    top:380px;
    text-align: left;
}

.posicaoFotosCurtidas li{
    position: relative;
    display: inline-block;
    width: 18%;
    margin-left:1.5%;
    margin-bottom: 40px;
    height: 140px;
    overflow: hidden;
}

.img{
    position: absolute;
    width: 150%;
    height: 100%;
    left: -25%;
    top: 0px;
    text-align: center;
}

.img img{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top:0px;
    height: 100%;
}
/********************************/

